html{
    font-size: 10px;
    font-family: Dirooz;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

#photo-grid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.figure{
    /*flex-basis: calc(33.33% - 4rem);*/
    /*max-width: 33%;*/
    width: 15%;
    height: 15%;
    border: 1px solid black;
    padding:5rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;

}

.photo{
    width: calc(100%    + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#background-top{
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90%;
}


#background-bottom{
    background-color: darkgreen;
}

#products-grid{
    padding: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid #111111;
}

#background-grid h2{
    text-align: center;
    margin:2rem;
    font-size: 5rem;
}

#front-image{
    /*width: 100%;*/
    max-height: 60%;
    max-width: 50%;
    object-fit: cover;
    margin:auto;
}

#bottom-arrow{
    height: 10%;
    position: absolute;
    bottom: 0;
    animation: heartbeat 1s infinite;
}

#top-nav{
    background-color: black;
    z-index: 2;
    width: 100%;

}

#top-nav ul{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-nav ul li {
    float: left;
}

#top-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 14px 16px;
    text-decoration: none;
}

#top-nav ul li.right{
    width: auto;
    float: right;
}


#top-nav ul li.normal a:hover:not(.active) {
    background-color: #111;

}
@media screen and (max-width: 600px) {
    #top-nav ul li {float: none;}
    #top-nav ul li.right {background-color: white;float: none;}
    #top-nav ul li.right a {color: #111111;font-weight: bold}
    #top-nav ul  {display: flex;flex-direction: column-reverse; }
}

@keyframes heartbeat
{
    0%
    {
        transform: scale( .75 );
    }
    20%
    {
        transform: scale( 1 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1 );
    }
    80%
    {
        transform: scale( .75 );
    }
    100%
    {
        transform: scale( .75 );
    }
}

@font-face {
    font-family: "Dirooz";
    src: url("../fonts/Dirooz.ttf");
}